@charset "UTF-8";

#holder {
  position: absolute;
  border: 1px solid black;
  overflow: hidden;
}

#background {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-image: url(lettergame-background.jpg);
  background-size: cover;
  z-index: -1;
  filter: saturate(30%) brightness(110%);
  transform-origin: 50% 50%;
  transform: scale(2.5) translate(-15%, -10%) rotate(0deg);
}

.animate {
  animation-name: background;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
}

@keyframes background {
  from {
    transform: scale(2.5) translate(-15%, -10%) rotate(0deg);
  }

  25% {
    transform: scale(2.8) translate(9%, -7%) rotate(20deg);
  }

  50% {
    transform: scale(1.9) translate(9%, 14%) rotate(10deg);
  }

  75% {
    transform: scale(2.3) translate(-12%, 2%) rotate(-10deg);
  }

  to {
    transform: scale(2.5) translate(-15%, -10%) rotate(0deg);
  }
}

#all-purpose-button {
  position: absolute;
}

#letter-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.single-letter {
  display: inline-block;
  line-height: 100%;
  font-family: sans-serif;
  text-shadow: 0px 0px 10px #272d47;
  transition-property: color, font-size;
  transition-duration: 200ms, 200ms;
}