@charset "UTF-8";

html {
  font-family: sans-serif;
}

#holder {
  display: none;
  position: absolute;
  border: 1px solid black;
  overflow: hidden;
}

#background {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-image: url(lettergame-background.jpg);
  background-size: cover;
  z-index: -1;
}

#background.plain-background {
  background: white;
}

#letter-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.single-letter {
  display: inline-block;
  line-height: 100%;
  font-family: sans-serif;
  text-shadow: 0px 0px 10px #272d47;
  transition-property: color, font-size;
  transition-duration: 1000ms, 200ms;
}

.single-letter.animate {
  animation-name: letter-move;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes letter-move {
  from {
    transform: rotate(-7deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#loader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10;
  background-color: yellow;
}

#loader > div {
  display: inline-block;
  color: #6a6ddf;
  font-size: 20px;
  animation-name: loader-grow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes loader-grow {
  from {
    font-size: 20px;
  }

  to {
    font-size: 90px;
  }
}
